:root {
    
    --input-color: rgba(189, 188, 188, 0.281);
    
    --Green-Scale-1-hex-color: #031727; 
    --Green-Scale-2-hex-color: #126872; 
    --Green-Scale-3-hex-color: #0B877D; 
    --Green-Scale-4-hex-color: #18C29C; 
    --Green-Scale-5-hex-color: #88F9D4; 
    /*--Green-Scale-1-hex-color: rgb(3, 23, 39);*/ 
    /*--Green-Scale-2-hex-color: rgb(18, 104, 114);*/ 
    /*--Green-Scale-3-hex-color: rgb(11, 135, 125);*/ 
    /*--Green-Scale-4-hex-color: rgb(24, 194, 156);*/ 
    /*--Green-Scale-5-hex-color: rgb(136, 249, 212);*/ 
    background-color: var(--Green-Scale-2-hex-color);
    

    font-family: 'Roboto', sans-serif;
}
